//
// Menu
// --------------------------------------------------

.action-size (@size: 14px) {
  font-size: @size;
  border-radius: @size * 2;
  width: @size * 2;
  height: @size * 2;
  line-height: @size * 2;
}
.act-variant(@state, @border-color, @background-color, @highlight-color) {
  .act-@{state} {
    color: @border-color;

    &.act-bordered {
      border-color: screen(@border-color, #444);
    }

    &.act-fill {
      background: screen(@background-color, #222);
      color: @highlight-color;
    }
  }

  .dropdown.open .act-@{state}.dropdown-toggle,
  .act-@{state}:hover {
    &:not(.disabled) {
      border-color: @border-color;
      color: @border-color;
    }
    &.act-fill:not(.disabled),
    &.act-bordered:not(.disabled) {
      background: darken(@background-color, 10%);
      border-color: darken(@border-color, 15%);
      color: @highlight-color;
    }
  }
  .act-scope:hover .act:not(:hover):not(.disabled) {
    &.act-@{state} {
      border-color: screen(@border-color, #aaa);
      &.act-bordered {
        border-color: @border-color;
      }
      &.act-fill {
        background: darken(@background-color, 5%);
        border-color: darken(@border-color, 10%);
      }
    }
  }
}

.act {
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  background: transparent;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  color: @action-default-color;
  text-decoration: none !important;
  box-sizing: content-box;
  -webkit-transition: all @action-transition-time ease-out;
  -moz-transition: all @action-transition-time ease-out;
  -o-transition: all @action-transition-time ease-out;
  transition: all @action-transition-time ease-out;

  &:hover:not(.disabled) {
    cursor: pointer;
    color: darken(@action-default-color, 10%);
    border-color: darken(@action-default-border, 10%);
  }
  & > *,
  & > *::before,
  &.glyphicon::before {
    width: inherit;
    height: inherit;
    line-height: inherit;
    font-size: inherit;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
  }
  &.dots {
    &::before {
      position: absolute;
      top: -0.2em;
      left: 0;
      content: "…";
      width: inherit;
      height: inherit;
    }
  }
  & > span.dots {
    top: -0.3em;
    &::before {
      content: "…";
    }
  }

  .action-size(14px);
  &.act-lg { .action-size(19px;) }
  &.act-sm { .action-size(12px;) }
  &.act-xs { .action-size(10px;) }
}

.act-variant(default, @action-default-border, @action-default-bg, white);//@action-default-color);
.act-variant(primary, @action-primary-border, @action-primary-bg, white);
.act-variant(info, @action-info-border, @action-info-bg, white);
.act-variant(danger, @action-danger-border, @action-danger-bg, white);
.act-variant(warning, @action-warning-border, @action-warning-bg, white);
.act-variant(success, @action-success-border, @action-success-bg, white);

.dropdown {
  &.open .act.dropdown-toggle {
    &.act-default, &.act-primary, &.act-warning, &.act-info, &.act-danger, &.act-success {
      -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
      -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
      -o-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }
  }
  .act ~ ul.dropdown-menu {
    > li {
      > a {
        font-size: 12px;
        padding: 2px 20px;
      }

      &.divider {
        margin: 4px 0;
      }

      &.destructive > a {
        color: #a94442;
        font-weight: 500;
      }
    }

    .popover {
      font-size: 12px;
    }
  }
}

.act-scope:hover {
  .act:not(:hover) {
    -webkit-transition: all @action-transition-time ease-out;
    -moz-transition: all @action-transition-time ease-out;
    -o-transition: all @action-transition-time ease-out;
    transition: all @action-transition-time ease-out;

    // &.act-default {
    //   color: darken(@action-default-color, 10%);
    //   border-color: darken(@action-default-color, 10%);
    // }
  }
}
