//
// Menu
// --------------------------------------------------

.act {
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  background: transparent;
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  color: @action-default-color;
  text-decoration: none !important;
  box-sizing: content-box;
  -webkit-transition: all @action-transition-time ease-out;
  -moz-transition: all @action-transition-time ease-out;
  -o-transition: all @action-transition-time ease-out;
  transition: all @action-transition-time ease-out;

  &.disabled {
    opacity: 0.65;
  }

  &:hover:not(.disabled) {
    cursor: pointer;
    color: darken(@action-default-color, 10%);
    border-color: darken(@action-default-border, 10%);
  }
  & > *,
  & > *::before,
  &.glyphicon::before {
    width: inherit;
    height: inherit;
    line-height: inherit;
    font-size: inherit;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
  }
  &.dots {
    &::before {
      position: absolute;
      top: -0.2em;
      left: 0;
      content: "…";
      width: inherit;
      height: inherit;
    }
  }
  & > span.dots {
    top: -0.3em;
    &::before {
      content: "…";
    }
  }

  .action-size(14px);
  &.act-lg { .action-size(19px;) }
  &.act-sm { .action-size(12px;) }
  &.act-xs { .action-size(10px;) }
}

.act-variant(default, @action-default-border, @action-default-bg, white);
.act-variant(primary, @action-primary-border, @action-primary-bg, white);
.act-variant(info, @action-info-border, @action-info-bg, white);
.act-variant(danger, @action-danger-border, @action-danger-bg, white);
.act-variant(warning, @action-warning-border, @action-warning-bg, white);
.act-variant(success, @action-success-border, @action-success-bg, white);

.dropdown {
  .act ~ ul.dropdown-menu {
    > li {
      > a {
        font-size: 12px;
        padding: 2px 20px;
      }

      &.divider {
        margin: 4px 0;
      }

      &.destructive > a {
        color: #a94442;
        font-weight: 500;
      }
    }

    .popover {
      font-size: 12px;
    }
  }
}

.act-scope:hover {
  .act:not(:hover) {
    -webkit-transition: all @action-transition-time ease-out;
    -moz-transition: all @action-transition-time ease-out;
    -o-transition: all @action-transition-time ease-out;
    transition: all @action-transition-time ease-out;
  }
}
