//
// Index
// --------------------------------------------------

.sort-control[data-sort]:hover { cursor: pointer; }
.sort-control[data-sort][data-state=descending]:after {
  content: "▼";
  font-size: 0.8em;
  padding-left: 4px;
}
.sort-control[data-sort][data-state=ascending]:after {
  content: "▲";
  font-size: 0.8em;
  padding-left: 4px;
}

// Container for individual items (not necessarily controls)
.index {
  margin: 0 0 10px 0;

  .index-item {
    padding: 10px 6px 0;
    margin: 0;
    position: relative;
    display: inline-block;
    width: 100%;
  }

  a.index-item {
    text-decoration: none;
    display: block;
    color: #111;
  }
  a.index-item:hover {
    cursor: pointer;
  }
  .index-item-meta {
    font-size: 0.8em;
    color: #888;

    p { margin: 0; }
    strong { color: #777; }
  }
}

.index-bordered {
  .index-item {
    border-bottom: 1px solid @index-border-color;
  }
  .index-item:last-child {
    border-bottom: none;
  }
}

.index-compact {
  .index-item {
    padding: 0px 4px 0 0;
    margin: 0;
  }
}

.index-toggle {
  .index-item {
    padding: 0.4em 0.4em 0.4em 2em;
  }
  .index-item.active > :first-child::before {
    content: '';
    position: absolute;
    border-color: #009933;
    border-style: solid;
    border-width: 0 0.3em 0.25em 0;
    height: 1em;
    top: 1.5em;
    left: 0.8em;
    margin-top: -1em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 0.5em;
  }
}

.index-state {
  .index-item.active,
  .index-item.warning,
  .index-item.info,
  .index-item.danger,
  .index-item.success,
  a.index-item:hover {
    padding-left: @index-item-border-padding;;
    border-left-width: @index-item-border-width;
    border-left-style: solid;
  }
  a.index-item {
    padding-left: @index-item-border-padding + @index-item-border-width;
  }
  a.index-item:hover {
    border-left-color: @item-active-border;
  }

  .index-item.active {
    background-color: @item-active-bg;
    border-left-color: @item-active-border;
  }
  .index-item.warning {
    // background-color: @item-warning-bg;
    border-left-color: @item-warning-border;
  }
  .index-item.info {
    // background-color: @item-info-bg;
    border-left-color: @item-info-border;
  }
  .index-item.danger {
    // background-color: @item-danger-bg;
    border-left-color: @item-danger-border;
  }
  .index-item.success {
    // background-color: @item-success-bg;
    border-left-color: @item-success-border;
  }
}
