//
// Variables
// --------------------------------------------------

//== Index
//

@item-active-border:  #cccccc;
@item-active-bg:      #f2f2f2;
@item-info-border:    #5bc0de;
@item-info-bg:        #d9edf7;
@item-warning-border: #f0ad4e;
@item-warning-bg:     #fcf8e3;
@item-danger-border:  #d9534f;
@item-danger-bg:      #f2dede;
@item-success-border: #5cb85c;
@item-success-bg:     #dff0d8;

@index-item-border-padding: 12px;
@index-item-border-width:   3px;

@index-border-color:        #e2e2e2;

//== Actions
//

@action-transition-time: 150ms;

@action-default-bg:      #fff;
@action-default-border:  #ccc;
@action-default-color:   #aaa;
@action-primary-bg:      #428bca;
@action-primary-border:  darken(@action-primary-bg, 5%);
@action-info-bg:         #5bc0de;
@action-info-border:     darken(@action-info-bg, 5%);
@action-warning-bg:      #f0ad4e;
@action-warning-border:  darken(@action-warning-bg, 5%);
@action-danger-bg:       #d9534f;
@action-danger-border:   darken(@action-danger-bg, 5%);
@action-success-bg:      #5cb85c;
@action-success-border:  darken(@action-success-bg, 5%);
