.adcom-example {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  background: linear-gradient(135deg, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 20%);
}
[data-example]:hover .adcom-example {
  opacity: 0.05;
}
.adcom-control {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin: -25px 0 0 -25px;
  background: rgba(0,0,0,1);
  color: #ddd;
  text-align: center;
  z-index: 1000;
  opacity: 0;
}
[data-example]:hover .adcom-control {
  opacity: 1;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.adcom-control:hover {
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.4);
}
.adcom-control i {
  margin: 7px 0 0 0;
  font-size: 17px;
}
.adcom-control p {
  margin: -5px 0 0 0;
}
[data-example] {
  position: relative;
}
